.content {
  height: 100%;
}
.keyword-area {
  height: 50%;
  margin-top: -1em;
  font-size: 40px;
  display: block;
  line-height: 167px;
}
.keyword-area .keyword {
  text-align: center;
}
.object-area {
  background-color: lightgray;
}
.object-area .object {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}
